@import "../bower_components/bourbon/app/assets/stylesheets/bourbon.scss";
@import "../bower_components/neat/app/assets/stylesheets/neat.scss";

body {
  background: url("../images/hero.jpg");
}
.container {
  @include outer-container(980px);
  border: 4px solid green;
  background-color: rgba(250,250,250,0.5);

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 16px;
  padding:  45px;
  
}

.nutrition-box {
  width: 30%;
  border: 1px solid black;
  margin: 0 10px;


}
.nutrition-box li {
  font-size: 1em;

}
.currentIngredients {
  width: 40%;
  float: right;
  margin-right: 20px;

}
.currentIngReturn {
  border: 1px solid black;
  height: 200px;
  overflow: scroll;
}
.recipeIngredients {
  width: 40%;
  border: 1px solid black;
  height: 200px;
  overflow: scroll;

}
.remove-ing {
  color:red;
  border: 1px solid black;
  float: right;
  margin-right: 15px;
  background-color: lightgray;

  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.fa-leaf {
  color: seagreen;
  //height: 40px;
}
.fa-plus-circle {
  color: #000088;
}


a.other-pages,
a.current-page{
  height: 25px;
  min-width: 15px;
  padding: 0 2px;
  display: inline-block;-webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-left: 5px;
}
a.other-pages {
  background-color: lightgray;
  color:black;
  border: 1px solid black;

}
a.current-page,
a.current-page2{


  background-color: #000088;
  color:lightgray;
  border: 1px solid darkgray;

}
a.current-page:hover {
  color:white;
  background-color: royalblue;
}
.custom-shell {
  height: 700px;
  border: 1px solid black;
}