@import "../bower_components/bourbon/app/assets/stylesheets/bourbon.scss";
@import "../bower_components/neat/app/assets/stylesheets/neat.scss";

* {
  outline-color: rgba(0, 128, 0, 0.43);
  outline-width: 2px;
}
body {
  background: url("../images/hero.jpg");
}

.container {
  @include outer-container(980px);
  border: 4px solid green;
  background-color: rgba(250,250,250,0.5);

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 16px;
  padding:  45px;
  
}
.title{
  font-family: 'Kaushan Script', cursive;
  font-size: 3em;
  margin: 0 15px 25px 30px;
  float: left;


}
.full {
  float:none;
}
.main-ingredient-search {

}
.input-query {
  margin-bottom: 15px;
  border-radius: 5px;
  margin-left: 5px;
}
.original-name {
  margin-bottom: 10px;

}

.nutrition-box {
  width: 35%;
  border: 1px solid black;
  margin: 0 10px 20px 10px;
  background-color: rgba(250,250,250,0.6);
  border-radius: 5px;
  padding: 22px;


}
.nutrition-box li {
  font-size: 1em;

}
.table-nutrition-name{
  width: 125px;
}
.table-ingredient-amount{
  min-width: 90px;
}
.currentIngredients {
  width: 40%;
  float: right;
  margin-right: 20px;
  margin-top: 52px;

}
.currentIngredients input {
  text-align: center;
}
.currentIngReturn {
  border: 1px solid black;
  height: 200px;
  overflow: scroll;
  background-color: rgba(250,250,250,0.6);
  border-radius: 5px;
}
.recipeIngredients {
  width: 40%;
  border: 1px solid black;
  height: 200px;
  overflow: scroll;
  background-color: rgba(250,250,250,0.6);
  border-radius: 5px;

}
#chart2 {
  margin-top: 40px;
}
.remove-ing {
  color:red;
  border: 1px solid black;
  float: right;
  margin-right: 15px;
  background-color: lightgray;

  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.fa-leaf {
  color: seagreen;
  //height: 40px;
}
.fa-plus-circle {
  color: #000088;
}


a.other-pages,
a.current-page{
  height: 25px;
  min-width: 25px;
  text-align: center;
  //padding: 0 2px;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin-left: 5px;
}
a.other-pages {
  background-color: lightgray;
  color:black;
  border: 1px solid black;

}
a.current-page,
a.current-page2{


  background-color: green;
  color:#E4F1FA;
  border: 1px solid #42693B;

}
a.current-page:hover {
  color:white;
  background-color: royalblue;
}
a.other-pages:hover {
  background-color: #B3BE89;
  color:black;
  border: 1px solid black;

}
.custom-shell {
  height: 700px;
  border: 1px solid black;
}
/* app css stylesheet */
ul {
  padding: 0;
}
li {
  list-style: none;
  margin-bottom: 5px;
  padding: 7px;
  border-bottom: 1px solid black;
}
a {
  text-decoration: none;
  color: black;
}
a:visited {
  color: black;
}
.custom-ingredients {
  margin: -24px 0 0 600px;
}
.search-results {
  float: left;
  width: 45%;
  clear: both;

}
.inside-search-results {
  background-color: rgba(250,250,250,0.6);
  border-radius: 5px;
  border: 1px solid black;
  margin: 10px 0;
}
.button {
  height: 23px;
  font-size: 14px;
  /*-webkit-border-radius: 3px;*/
  /*-moz-border-radius: 3px;*/
  /*border-radius: 3px;;*/
}
.nutrient-result-name {
  //display: inline-block;
  vertical-align: top;
  width: 26em;
  padding-left: 8px;
}


/*Below are pre-existing styles*/
ul.nav-bar {
  margin: 0 0 -9px 140px;
  font-family: 'Kaushan Script', cursive;
  color: white;
}
.nav-bar>li{
  border: none;
  display: inline-block;
}
button.link-btn {
  border-radius: 50%;
  height: 30px;
  width: 32px;
  background-color: #497255;
  margin-left: 5px;
}
.fa-spoon {
  color:black;
}g
.sign-up {
  margin: 0 20px;

}
.log-out {
  margin-right: 110px;
}
.user-name {
  color: white;
  font-family: 'Kaushan Script', cursive;
  margin-right: 20px;
}
.user-enter {
  position: absolute;
  top: 11px;
  right: 48px;

}
.menu {
  list-style: none;
  /*border-bottom: 0.1em solid black;*/
  margin-bottom: 2em;
  padding: 0 0 0.5em;
  border: 1px solid black;
  background:linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,.3)),url('../images/header3.png');
  position: relative;
}

.menu > li {
;
}

.menu > li:before {
  padding-right: 0.3em;
}

/*.menu > li:nth-child(1):before {*/
/*content: "";*/
/*padding: 0;*/
/*}*/
.page-button{

  color: black;
  background-color: grey;

}
