<h1 class="title">Recipes Builder</h1>
<div class="currentIngredients">
  Search: <input class="input-query" type="text" ng-model="query"/>
    <div class="currentIngReturn">
      <ul>
        <li ng-repeat="ingredient in customIngredients | filter:{name:query} | orderBy:'name' "><button ng-click="addIngredient(ingredient.ndbno,ingredient.name,ingredient.nutrients)">&#x2713</button>{{ingredient.name}}</li>
      </ul>
    </div>
</div>
<!--<p class="new-recipe-ingredients">Recipes ingredients end up here</p>-->
<div class="recipeIngredients">
    <!--<single-ingredient ingredient="recipe.ingredients" qty = 'qty' measurement = 'measurement' on-change="convertToNumber()" on-remove="removeIng(id) ">-->


        <li ng-repeat="newIng in recipe.ingredients">
            <input ng-model="qty"  size="3">
            <select ng-options="item.label for item in recipe.ingredients[$index].measures"
                    ng-model="measurement"
                    ng-change="convertToNumber($index,measurement,qty)"
                    >
            </select>
            {{newIng.name}}
            <!--<span class="remove-ing" ng-click="removeIng(newIng.id)">&#x2718</span>-->
        </li>

    <!--</single-ingredient>-->
</div>

<highchart id="chart2" config="chartConfig" style="width: 865px; height: 300px"></highchart>


