<p>Recipes</p>
<div class="currentIngredients">
  <input type="text" ng-model="query"/>
    <div class="currentIngReturn">
      <ul>
        <li ng-repeat="ingredient in customIngredients | filter:{name:query}"><button ng-click="addIngredient(ingredient.ndbno,ingredient.name,ingredient.nutrients)">&#x2713</button>{{ingredient.name}}</li>
      </ul>
    </div>
</div>
<div class="recipeIngredients">
    <ul>
        <li ng-repeat="newIng in recipeIngredients"><input ng-model="qty"  size="4">{{newIng.name}} <span class="remove-ing" ng-click="removeIng(newIng.id)">&#x2718</span></li>
    </ul>
</div>

