<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="nutritionApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="nutritionApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="nutritionApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="nutritionApp" class="no-js"> <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Nutrition App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="app.css">
  <link rel="stylesheet" href="styles/main.css"/>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
    <div class="menu">
        <ul class="nav-bar">
        <li><button><a href="#/ingredients">Ingredients</a></button></li>
        <li><button><a href="#/recipes">Recipes</a></button></li>

        </ul>

        <div class="user-enter" ng-controller="AuthenticateCtrl">
            <span class="user-name ng-cloak" ng-show="isLoggedIn">Hey {{user.firstName}}!</span>
            <input class="user-email-sign-in" ng-model="user.email" placeholder="User Email" ng-show="!isLoggedIn">
            <input type="password" class="user-password-sign-in" ng-model="user.password" placeholder="Password" ng-show="!isLoggedIn">
            <button class="sign-in button" ng-click="signIn(user)" ng-show="!isLoggedIn">Sign In</button>
            <button class="log-out button" ng-click="logOut(user)" ng-show="isLoggedIn">Log Out</button>


            <!--<button class="sign-up button" ng-click="signUp()" ng-show="!isLoggedIn">Sign Up</button>-->
        </div>
    </div>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
<div class="container">

    <div ng-view></div>

</div>



  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="http://code.highcharts.com/adapters/standalone-framework.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/highcharts-ng/src/highcharts.js"></script>
  <script src="bower_components/highcharts-ng/src/highcharts-ng.js"></script>
  <script src="bower_components/underscore/underscore-min.js"></script>
  <script src="app.js"></script>
  <script src="modules/authentication.js"></script>
  <script src="modules/services.js"></script>
  <script src="modules/ingredientGraph.js"></script>

  <script src="view1/view1.js"></script>
  <script src="view2/recipes.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
</body>
</html>
