
<p>{{ingredientReport.report.food.name}}</p>

<div class="nutrition-facts">
    <h1>Nutrition Facts</h1>
    <p>Serving Size <input id="search-ing" class="input-query" ng-model="measurement.qty" size="3" ng-change="convertToNumber()">
    <span class="ingredient-measure" option="charInfo">
    <select ng-options="item.label for item in measure"
            ng-model="measurement"
            ng-change="convertToNumber()"
            >
    </select>
</span>
    </p>
</div>

<div class="nutrition-box ">
    <table>
        <tr ng-repeat="ingredient in macroNuts">
            <td class="table-nutrition-name">{{ingredient.name}}</td>
            <td class="table-ingredient-amount">{{measurement.qty * ingredient.value * measureMultiplier/100 | number:2}} {{ingredient.unit}}</td>
            <td>{{measurement.qty * ingredient.value * measureMultiplier/(ingredient.rda) | number:0}}%</td>
        </tr>
    </table>
    <!--<ul>-->
        <!--<li ng-repeat="ingredient in macroNuts">{{ingredient.name}} {{ingredient.value}} {{ingredient.unit}}</li>-->
    <!--</ul>-->
</div>




<!--<div class="ingredientChart"></div>-->
<!--<div ng-controller="IngredientCtrl">-->

    <!--<div ingredient-chart="chartOptions" style="width: 400px; height: 300px"></div>-->
<!--</div>-->

<highchart id="chart1" config="chartConfig" style="width: 800px; height: 400px"></highchart>
