
<p>{{ingredientReport.report.food.name}}</p>
<!--<ul>-->
    <!--<li ng-repeat="carb in carbs">-->
        <!--<span>{{carb.name}}</span><span> {{carb.value * measureMultiplier}}</span><span>{{carb.unit}}</span>-->
    <!--</li>-->
<!--</ul>-->
<p> {{carbs[0].name}}</p>
<table>
    <th>
    <td></td>
    <td></td>
    <td></td>
    <td>%DV</td>
    </th>
    <tr>
        <td>Calories</td>
        <td>{{carbs[0].value}}</td>
        <td>{{carbs[0].unit}}</td>
        <td>{{returnPercentage(carbs[0].value,302)}}</td>

    </tr>

</table>
<div class="ingredient-measure" option="charInfo">
    <select ng-options="item.label for item in measure"
            ng-model="measurement"
            ng-change="convertToNumber()"
            >
    </select>
<p>{{measureMultiplier}}</p>
        <!--<option ng-repeat="item in measure" ng-value="item.value">{{item.label}}</option>-->



</div>

<!--<div class="ingredientChart"></div>-->
<!--<div ng-controller="IngredientCtrl">-->

    <!--<div ingredient-chart="chartOptions" style="width: 400px; height: 300px"></div>-->
<!--</div>-->

<highchart id="chart1" config="chartConfig" style="width: 800px; height: 300px"></highchart>
